<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title>Coderhouse Backend - Desafío 05 - EJS</title>
    </head>
    <body>
        <div class="container">
            <form action="/productos" method="POST" class="form-files">
                <input type="text" placeholder="Nombre" name="title">
                <input type="text" placeholder="Precio" name="price">
                <input type="text" placeholder="URL Imagen" name="image">
                <input type="submit" value="Enviar">
            </form>
            <a class="button" href="/productos">Ver productos</a>
        </div>
    </body>
</html>